.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.quickStart {
  padding: 4rem 0;
  background-color: var(--ifm-background-surface-color);
}

.quickStart h2 {
  margin-bottom: 1rem;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }

  .buttons {
    flex-direction: column;
  }

  .buttons a {
    margin: 0.5rem 0 !important;
  }
}
